*{
  padding: 0;
  margin: 0;
  font-family: Sans-Serif;
}
body{
  background-color: white;
}
header{
  padding: 20px;
  background-color: #5A5A5A;
}
header h1{
  color: #11e060;
}
#general_container{
  border-radius: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.calculatorContainer{
  border-radius: 50px;
  background-color: #24292D;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 20px;
    box-shadow: 0px 0px 20px rgba(141, 126, 126, 0.7);
}
.dotDesign{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px; 
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;

}
.dotDesign1{
  background-color: #FF5C60;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.dotDesign2{
  background-color: #FAC800;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.dotDesign3{
  background-color: #474C50;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.cal_container{
  border-radius: 10px;  
  display: flex;
  flex-direction: column;
  width: 350px;
}
#display{
  height: 10vh;
  background-color: #24292D;
  border: none;
  color: #FFFFFF;
  font-size: 3rem;
  text-align:right;
  margin-bottom: 20px;
} 

.btnContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 3px;
  margin-top: 5px;
  width: 100%;

}

.btnsection1{
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  background-color: #717577;
  color: #FFFFFF;
  height: 80px;
  width: 80px;
  cursor: pointer;
  border-radius: 50%;
}
.btns{
  text-align: center;
  font-size: 30px;
  border: 1px solid ;
  border-radius: 50%;
  border: none;
  background-color: #464A4C;
  color: #FFFFFF;
  height: 80px;
  width:  80px;
  cursor: pointer;

}
#yellowBtns{
  background-color: #FF8B00;
}


/* -----------------desktop mode */

@media (min-width: 768px) {
  header h1{
    text-align: center;
  }
  .cal_container{
    width: 370px;
    /* width: 60%;
    height: 60vh; */
  }
  .display{
    height:7vh;
    margin-bottom: 10px;
    padding: 5px;
  }


  

}